body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background: rgb(223, 191, 233) !important;  /* light purple background */
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: purple;
  border-left: 1px solid purple;
  padding: 10px;
}

header {
  height: 315px;   /*  less white space at the top */
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: purple;
  border-radius: 0;
  border-bottom: 10px solid purple;
}

.save {
  text-align: center;
}

.past {
  background-color: lightblue;
 }

.current {
  background-color: lightyellow;
 }

.future {
  background-color: pink;
 }

.notSaved {
  color: red !important;
}